@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-color: #6bd5ff;
  margin: 0;
  padding: 0;
}

header {
  color: white;
  text-align: center;
  padding: 10px 0;
}

div {
  margin: 0 auto;
  width: 80%; 
  text-align: center;
}

section {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  bord
}
